In [ ]:
#needed to make web requests
import requests
#convert the response as a strcuctured json
import json

import pandas as pd
import numpy as np
#parse the datetimes we get from NOAA
from datetime import datetime

In [ ]:
#add the access token you got from NOAA
Token = 'JvgZzITnvipZbRytfbTgJVeCmCvLwhWu'

#Long Beach Airport station
station_id = 'GHCND:USW00023129'

In [ ]:

#initialize lists to store data
dates_temp = []
dates_prcp = []
temps = []
prcp = []

#for each year from 2015-2019 ...
for year in range(2015, 2020):
    year = str(year)
    print('working on year '+year)
    
    #make the api call
    r = requests.get('https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&datatypeid=TAVG&limit=1000&stationid=GHCND:USW00023129&startdate='+year+'-01-01&enddate='+year+'-12-31', headers={'token':Token})
    #load the api response as a json
    d = json.loads(r.text)
    #get all items in the response which are average temperature readings
    avg_temps = [item for item in d['results'] if item['datatype']=='TAVG']
    #get the date field from all average temperature readings
    dates_temp += [item['date'] for item in avg_temps]
    #get the actual average temperature from all average temperature readings
    temps += [item['value'] for item in avg_temps]

In [108]:
r = requests.get('https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&datatypeid=TAVG&limit=1000&locationcategoryid=ST&Locations=Alabama&startdate=2020-01-01&enddate=2020-01-01', headers={'token':Token})

In [109]:
d = json.loads(r.text)

In [110]:
len(d['results'])

1000

In [ ]:
def get_temperature():
    baseurl = 'https://www.ncdc.noaa.gov/cdo-web/api/v2/data'
    params_diction = {}
    params_diction['datasetid'] = 'GHCND'
    params_diction['datatypeid'] = 'TAVG'
    params_diction['limit'] = 1000
    params_diction['locationcategoryid'] = 'ST'
    params_diction['startdate'] = '2020-01-01'
    params_diction['enddate'] = '2021-05-07'
    response = requests.request('GET', baseurl, params=params_diction, headers={'token':Token})
    temperature_dict = response.json()
    return temperature_dict

In [112]:
baseurl = 'https://www.ncdc.noaa.gov/cdo-web/api/v2/locations'
params_diction = {}
# params_diction['datasetid'] = 'GHCND'
# params_diction['datatypeid'] = 'TAVG'
params_diction['limit'] = 1000
# params_diction['locationcategoryid'] = 'ST'
# params_diction['stationid'] = 'GHCND:USW00023129'
# params_diction['startdate'] = '2020-01-01'
# params_diction['enddate'] = '2021-05-07'
params_diction['offset'] = 1000
response = requests.request('GET', baseurl, params=params_diction, headers={'token':Token})

In [113]:
response.url

'https://www.ncdc.noaa.gov/cdo-web/api/v2/locations?offset=1000'

In [125]:
np.arange(0, 38862, 1000)

array([    0,  1000,  2000,  3000,  4000,  5000,  6000,  7000,  8000,
        9000, 10000, 11000, 12000, 13000, 14000, 15000, 16000, 17000,
       18000, 19000, 20000, 21000, 22000, 23000, 24000, 25000, 26000,
       27000, 28000, 29000, 30000, 31000, 32000, 33000, 34000, 35000,
       36000, 37000, 38000])

In [126]:
def Merge(dict1, dict2):
    return(dict2.update(dict1))

In [130]:
demo_dict = {}
offset = 0
params_diction = {}
params_diction['offset'] = offset
response = requests.request('GET', baseurl, params=params_diction, headers={'token':Token})
current_dict = json.loads(response.text)

In [136]:
d = {}
for item in current_dict['results']:
    d[item['name']] = item['id']

In [137]:
d

{'Abu Dhabi, AE': 'CITY:AE000001',
 'Ajman, AE': 'CITY:AE000002',
 'Dubai, AE': 'CITY:AE000003',
 'Sharjah, AE': 'CITY:AE000006',
 'Kabul, AF': 'CITY:AF000007',
 'Kandahar, AF': 'CITY:AF000008',
 'Algiers, AG': 'CITY:AG000001',
 'Annaba, AG': 'CITY:AG000002',
 'Batna, AG': 'CITY:AG000003',
 'Bechar, AG': 'CITY:AG000004',
 'Bejaia, AG': 'CITY:AG000005',
 'Constantine, AG': 'CITY:AG000006',
 'Guelma, AG': 'CITY:AG000007',
 'Laghouat, AG': 'CITY:AG000008',
 'Medea, AG': 'CITY:AG000009',
 'Mostaganem, AG': 'CITY:AG000010',
 'Oran, AG': 'CITY:AG000011',
 'Oum el Bouaghi, AG': 'CITY:AG000012',
 'Saida, AG': 'CITY:AG000013',
 'Sidi-Bel-Abbes, AG': 'CITY:AG000014',
 'Skikda, AG': 'CITY:AG000015',
 'Tamanrasset, AG': 'CITY:AG000016',
 'Tlemcen, AG': 'CITY:AG000017',
 'Baku, AJ': 'CITY:AJ000001',
 'Naxcivian, AJ': 'CITY:AJ000002'}

In [141]:
baseurl = 'https://www.ncdc.noaa.gov/cdo-web/api/v2/locations'
all_locations_dict = {}
for offset in np.arange(0, 38862, 1000):
    params_diction = {}
    params_diction['offset'] = offset
    params_diction['limit'] = 1000
    response = requests.request('GET', baseurl, params=params_diction, headers={'token':Token})
    current_dict = json.loads(response.text)
    for item in current_dict['results']:
        all_locations_dict[item['id']] = item['name']

In [152]:
len(all_locations_dict)

38862

In [147]:
df = pd.DataFrame.from_dict([all_locations_dict])

In [148]:
df.head()

,CITY:AE000001,CITY:AE000002,CITY:AE000003,CITY:AE000006,CITY:AF000007,CITY:AF000008,CITY:AG000001,CITY:AG000002,CITY:AG000003,CITY:AG000004,...,ZIP:99901,ZIP:99919,ZIP:99921,ZIP:99922,ZIP:99923,ZIP:99925,ZIP:99926,ZIP:99927,ZIP:99929,ZIP:99950
0,"Abu Dhabi, AE","Ajman, AE","Dubai, AE","Sharjah, AE","Kabul, AF","Kandahar, AF","Algiers, AG","Annaba, AG","Batna, AG","Bechar, AG",...,"Ketchikan, AK 99901","Thorne Bay, AK 99919","Craig, AK 99921","Hydaburg, AK 99922","Hyder, AK 99923","Klawock, AK 99925","Metlakatla, AK 99926","Point Baker, AK 99927","Wrangell, AK 99929","Ketchikan, AK 99950"

In [150]:
df = pd.melt(df)

In [151]:
df

            variable                  value
0      CITY:AE000001          Abu Dhabi, AE
1      CITY:AE000002              Ajman, AE
2      CITY:AE000003              Dubai, AE
3      CITY:AE000006            Sharjah, AE
4      CITY:AF000007              Kabul, AF
...              ...                    ...
38857      ZIP:99925      Klawock, AK 99925
38858      ZIP:99926   Metlakatla, AK 99926
38859      ZIP:99927  Point Baker, AK 99927
38860      ZIP:99929     Wrangell, AK 99929
38861      ZIP:99950    Ketchikan, AK 99950

[38862 rows x 2 columns]

In [122]:
d = response.json()

In [123]:
d['metadata']

{'resultset': {'offset': 1000, 'count': 38862, 'limit': 25}}

In [121]:
d.keys()

dict_keys(['metadata', 'results'])

The base request looks like:
https://www.ncdc.noaa.gov/cdo-web/api/v2/data?

After the question mark, ‘?’, we will need to put all the options specifying the exact data we are looking for. These will include:

datasetid, which for us will be GHCND (Global Historical Climatology Network Daily).

datatypeid, which is a list of the variables we are after. For us, that will be TAVG (average temperature)

limit, specifying the maximum number of items to include in the response. The default is 25 and the maximum is 1000, which is what we will set.

stationid, specifying which station(s) we would like data from. Our station id is GHCND:USW00023129

startdate and enddate, specifying the date range we wish to get data from. We will be calling the API once for each year because 1000 items is not enough for our full 3.5 year date range from 2015 until now.

In all, our first request for all data in 2015 will look like this:

https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&datatypeid=TAVG&limit=1000&stationid=GHCND:USW00023129&startdate=2015-01-01&enddate=2015-12-31

In [ ]:
#initialize dataframe
df_temp = pd.DataFrame()

#populate date and average temperature fields (cast string date to datetime and convert temperature from tenths of Celsius to Fahrenheit)
df_temp['date'] = [datetime.strptime(d, "%Y-%m-%dT%H:%M:%S") for d in dates_temp]
df_temp['avgTemp'] = [float(v)/10.0*1.8 + 32 for v in temps]

In [ ]:
df_temp