In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

import plotly_express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

%matplotlib inline

In [2]:
df20 = pd.read_csv('./data/output20v2.csv')
df21 = pd.read_csv('./data/output21.csv')
df = pd.concat([df20, df21])

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1131633 entries, 0 to 277210
Data columns (total 8 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   Unnamed: 0  1131633 non-null  int64
 1   date        1131633 non-null  object
 2   datatype    1131633 non-null  object
 3   station     1131633 non-null  object
 4   attributes  1131633 non-null  object
 5   value       1131633 non-null  int64
 6   locationid  1131633 non-null  object
 7   state       1131633 non-null  object
dtypes: int64(2), object(6)
memory usage: 110.0+ MB

In [18]:
df.head()

,Unnamed: 0,date,datatype,station,attributes,value,locationid,state
0,0,2020-01-01T00:00:00,TAVG,GHCND:USR0000ABAN,",,U,",72,FIPS:01,Alabama
1,1,2020-01-01T00:00:00,TAVG,GHCND:USR0000ABNS,",,U,",135,FIPS:01,Alabama
2,2,2020-01-01T00:00:00,TAVG,GHCND:USR0000ALIR,",,U,",38,FIPS:01,Alabama
3,3,2020-01-01T00:00:00,TAVG,GHCND:USR0000AOKM,",,U,",66,FIPS:01,Alabama
4,4,2020-01-01T00:00:00,TAVG,GHCND:USR0000AOPE,",,U,",102,FIPS:01,Alabama

In [19]:
df.tail()

,Unnamed: 0,date,datatype,station,attributes,value,locationid,state
276895,734,2021-04-30T00:00:00,TAVG,GHCND:USS0010G20S,",,T,",89,FIPS:56,Wyoming
276896,735,2021-04-30T00:00:00,TAVG,GHCND:USS0010G22S,",,T,",93,FIPS:56,Wyoming
276897,736,2021-04-30T00:00:00,TAVG,GHCND:USS0010G23S,",,T,",104,FIPS:56,Wyoming
276898,737,2021-04-30T00:00:00,TAVG,GHCND:USS0010G24S,",,T,",103,FIPS:56,Wyoming
276899,738,2021-04-30T00:00:00,TAVG,GHCND:USS0010G25S,",,T,",94,FIPS:56,Wyoming

In [13]:
df['attributes'].unique()

array([',,U,', 'H,,S,', ',,T,', ',G,U,', ',,C,', ',G,T,', ',X,U,'],
      dtype=object)

In [16]:
df = df[df['attributes'] != 'H,,S,']

In [22]:
print('Max:', df['value'].max(), '\n', 'Min:', df['value'].min())

Max: 656
 Min: -733

In [25]:
df[df['value']>200]['attributes'].unique()

array([',,U,', ',,T,', ',G,U,', ',X,U,', ',,C,'], dtype=object)